###############################################################
# This is the configuration file for EliBackup provided       # 
# by EliServices. Please do not modificate any setting,       #
# if you are not sure about it. If you have any questions,    # 
# feel free to contact me (eliservices.server@gmail.com).     #
###############################################################
# General settings:                                           #
###############################################################
Debugging  = enabled
Autostart  = enabled
Choosedest = disabled
Backuppath = E:\Backup\

###############################################################
# Individually files:                                         #
# All files in this section will be copied to the backuppath. #
###############################################################
D:\Desktop\EliServices\EliBackup\Readme.txt

###############################################################
# Directorys:                                                 #
# Every directory in this section will be copied to the       #
# backuppath. Example: D:\test\ will cause the programm to    #
# copy D:\test\ to the backuppath.                            #
###############################################################
D:\Desktop\EliServices\EliBackup\